.footer {
  background-color: white;
  margin-top: 275px;
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    &-text {
      @include font($fs: 16px, $color: $green);
    }
  }
}

.info {
  &__box {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
  &__title {
    @include font($fs: 22px, $fw: 500);
  }
  &__text {
    @include font($fs: 18, $color: $text_gray);
    cursor: pointer;
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
