.header {
  height: 174px;
  width: 100%;
  background-color: white;
  padding-top: 86px;
  padding-bottom: 38px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 46px;
  }
  &__button {
    @include button($color: $green, $fw: 600, $color_hover: black, $tt: none);
  }
  &__item {
    & > a {
      @include font($fs: 17.16px, $fw: 500);
      &:hover,
      &:focus {
        color: $green;
        transition: 0.2s color;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  &__img {
    color: $green;
  }
  &__text {
    @include font($ff: "Itc", $lh: 68px, $fw: 500, $fs: 65.28px, $color: $green);
  }
}
