.header {
  height: 174px;
  width: 100%;
  background-color: white;
  padding-top: 86px;
  padding-bottom: 38px;
  &__container {
    display: flex;
  }
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  &__img {
    color: $green;
  }
  &__text {
    @include font($ff: "Itc", $lh: 68px, $fw: 500, $fs: 65.28px, $color: $green);
  }
}
